@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}

.body {
    display: grid;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "main main main main"
        "footer footer footer footer";
}

/* Aca comienza el HEADER*/

.header {
    grid-area: header;
    background-color: rgb(74, 138, 225);
    width: 100%;
    display: flex;
    justify-content: center;
}


.header__navbar {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav {
    width: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__lista {
    width: auto;
    list-style: none;
    text-align: center;
}



nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 110%;
    box-shadow: inset 0 0 0 0 rgb(255, 255, 255);
    padding: .25rem;
    margin: .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav ul li a:hover {
    box-shadow: inset 100px 0 0 0 rgb(255, 255, 255);
    color: rgb(74, 138, 225);
}


/* Aca comienza el MAIN*/

.main {
    grid-area: main;
    background-color: rgb(74, 138, 225);
    background-size: cover;
    max-width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;

}

section {
    display: flex;
    flex-direction: center;
}

.section__inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    width: 75%;
    height: 100%;
}

.section__presentacion {
    height: 60%;
    margin: 25px 0 25px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section__titulo {
    margin: 15px;
    padding: 15px;
    width: 90%;
}

h1 {
    font-size: 85px;
    text-align: center;
}

.imagenPresentacion {
    width: 50%;
    box-shadow: 0px 0px 12px 14px rgba(18, 34, 56, 0.1);
    -moz-box-shadow: 0px 0px 12px 14px rgba(18, 34, 56, 0.1);
    -webkit-box-shadow: 0px 0px 12px 14px rgba(18, 34, 56, 0.1);
}

.section__descripcion {
    height: auto;
    margin: 25px 0 25px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.section__descripcion--subtitulo {
    margin: 15px;
    padding: 15px;
    width: 40%;
}

h2 {
    font-size: 40px;
    text-align: center;
}

.section__descripcion--parrafo {
    width: 40%;
}

p {
    font-size: 20px;
    text-align: center;

}

/* EPISODIOS */

.main__episodios {
    max-width: 75%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;
}

.section {
    display: flex;
    justify-content: center;
    height: 20%;
}

.section__episodios {
    display: flex;
    justify-content: center;
    height: 60%;
}

.section__lista {
    width: 75%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10%;
}

.episodio1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
}

.episodio2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;

}

.episodio3 {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;

}

.episodio4 {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
}

.episodio5 {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
}

/* PRODUCTOS */

.container__productos {
    max-width: 75%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;

}

.section {
    display: flex;
    justify-content: center;
    height: 20%;
}

.section__productos {
    display: flex;
    justify-content: center;
    height: 60%;
}

.section__lista {
    text-decoration: none;
    width: 75%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

section ul li a {
    text-decoration: none;
}

/* BIO */



.section__bio {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.bio__titulo {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto__bio1 {
    grid-area: 1 / 2 / 2 / 3;
    max-width: 75%;
    display: flex;
    align-items: center;
}

.foto__bio2 {
    grid-area: 2 / 1 / 3 / 2;
    max-width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__parrafo {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTACTO */

.main__contacto {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30% 50%;
}

.contacto__titulo {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto__descripcion {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    grid-area: 2 / 2 / 3 / 3;
}


.comtacto__descripcion {
    display: flex;
    flex-direction: row;
}



/*FORMULARIO*/

.formulario {
    margin-top: 15%;
    margin-left: 25%;
    width: 340px;
    height: 500px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    position: relative;
}

input {
    width: 100%;
    padding: 10px;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

input:focus {
    border-bottom: 2px solid #78788c;
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
}

button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    background: #78788c;
    color: #fff;
}


input:focus {
    border-bottom: 2px solid #78788c;
}

.formulario__:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
}



/* Aca comienza el FOOTER*/

.footer {
    align-items: center;
    background-color: rgb(18, 34, 56);
    color: #fff;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200%;
    width: 100%;
}

.footer__navbar {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}


.footer__lista {
    width: auto;
    list-style: none;
    text-align: center;
}


a {
    text-decoration: none;
}

.footer__navbar ul li a:hover {
    box-shadow: inset 100px 0 0 0 rgb(255, 255, 255);
    color: rgb(18, 34, 56);
}

.redes {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.redes__icono {
    padding: 10px;
}

.copyright__parrafo {
    font-size: 80%;
}